{base_dir, "_build"}.
{erl_opts, [debug_info, warn_missing_spec_all]}.
{deps, [
	{uef, "2.5.3"}
]}.
{minimum_otp_vsn, "20.0"}.
% {shell, [{apps, [binbo]}]}.
{dialyzer, [
	{get_warnings, false}, % DON'T set it to 'true'! This leads to a high CPU load when building PLT
	{warnings, [
		error_handling, race_conditions, unmatched_returns, unknown
	]}
]}.
{xref_warnings,false}.
{xref_checks, [
	undefined_function_calls, undefined_functions, locals_not_used,
%	exports_not_used,
	deprecated_function_calls, deprecated_functions
]}.
{project_plugins, [covertool]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.
{edoc_opts, [{preprocess, true}]}.

{profiles, [
	{test, [
		{erl_opts, [nowarn_missing_spec_all]}
	]}
]}.
