{base_dir, "_build"}.

{erl_opts, [debug_info, warn_missing_spec_all]}.

{deps, [
    {uef, "2.6.0"}
]}.

{minimum_otp_vsn, "20.0"}.

% {shell, [{apps, [binbo]}]}.

{dialyzer, [
    {get_warnings, false}, % DON'T set it to 'true'! This leads to a high CPU load when building PLT
    {warnings, [
        error_handling, unmatched_returns, unknown
    ]}
]}.

{xref_warnings,false}.

{xref_checks, [
    undefined_function_calls, undefined_functions, locals_not_used,
    % exports_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{project_plugins, [covertool]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{edoc_opts, [{preprocess, true}]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_missing_spec_all]}
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md",       #{title => "Readme"}},
        {"CHANGELOG.md",    #{title => "Changelog"}},
        {"CONTRIBUTING.md", #{title => "Contributing"}},
        {"CODE_OF_CONDUCT.md", #{title => "Code Of Conduct"}},
        {".editorconfig", #{title => "EditorConfig"}},
        {"LICENSE",         #{title => "License"}}

    ]},
    {main,          "README.md"},
    {homepage_url,  "https://github.com/DOBRO/binbo"},
    {source_url,    "https://github.com/DOBRO/binbo"},
    {api_reference, true}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.
