{base_dir, "_build"}.
{erl_opts, [debug_info]}.
{deps, [
	{uef, {git, "https://github.com/DOBRO/uef-lib.git", {tag, "2.3.0"}}}
]}.
{minimum_otp_vsn, "19.0"}.
% {shell, [{apps, [binbo]}]}.
{dialyzer, [
	{get_warnings, false}, % DON'T set it to 'true'! This leads to a CPU high load when building PLT
	{warnings, [
		error_handling, race_conditions, unmatched_returns, unknown
	]}
]}.
{xref_warnings,false}.
{xref_checks, [
	undefined_function_calls, undefined_functions, locals_not_used,
%	exports_not_used,
	deprecated_function_calls, deprecated_functions
]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
